################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MeApuntoBackend/DB/db_production.db
/MeApuntoBackend/Utils/Util.cs
